h1{
	background-color:#7ffc03;
	color:#03bafc;
}
p{
	background-color:#6703fc;
	
}
h2{
	background-color: #fc03db;
	color:#b503fc;
}
ol{
	background-color:#031cfc;
}
a:link{
	background-color:#03fcf8;
	color:#dbfc03;
}
.plava{
	background-color:#6ffc03;
}
.zelena{
	background-color:#5efc03;
	
}
