h1{
	color:red;
	background-color:green;
}
table{
	width: 100%;
}
table, th, td{
	border: 5px solid red;
	border-collapse: collapse;
	border-style: dotted;
	
}
body{
	background-color: #98eda0;
}